:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --white: rgba(255, 255, 255, 0.87);
  --yellow: #f6c42f;
  --warning: #f3213a;
  --gold: #948455;
  --dark-purple: #1d0734;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100%;
}

header,
footer {
  height: 3rem;
  padding: 1rem;
  background-color: var(--dark-purple);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  > nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
footer {
  justify-content: center;
}
main {
  color: black;
  background-color: var(--white);
  min-height: calc(100vh - (48px + 48px));
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  max-width: 100vw;
}

/* LINKS */
a {
  color: var(--white);
  cursor: pointer;
  padding: 0.45rem;
  border-radius: 6px;
}
a:hover {
  background-color: var(--white);
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.warning-link,
.warining-btn {
  background-color: var(--warning);
  border-radius: 6px;
  color: var(--white);
}

.welcome-link:hover,
button:hover {
  background-color: var(--black);
  color: var(--yellow);
}

/* BUTTONS */
button {
  border-radius: 6px;
  padding: 0.6rem 0.4rem;
  font-size: 1rem;
  background-color: var(--yellow);
  border: none;
  cursor: pointer;
  border: 2px solid var(--white);
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--dark-purple);
  padding: 1rem;
  width: fit-content;
  border-radius: 8px;
  color: var(--white);
  > article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: end;
    > div {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
    }
  }
  > button {
    align-self: center;
  }
}

input,
select {
  padding: 0.6rem 0.4rem;
  border-radius: 2px;
  border: none;
  letter-spacing: 1px;
}

select {
  padding: 0.54rem;
}

.register,
.login {
  color: var(--purple);
  text-decoration: underline;
}

small {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  > span {
    font-weight: 600;
  }
}
